<!-- ---------- Footer ---------- -->

</main>
<footer class="footer">
	<div class="container">
		<div class="splitter">
			<div class="footer__about">
				<h2>About us</h2>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, dolorem
					rerum
					voluptatem velit a, labore repellat temporibus quos quia aliquam obcaecati
					reprehenderit nostrum aperiam blanditiis eligendi quisquam, atque excepturi
					odit.</p>

			</div>
			<div class="footer__card">
				<h2>Links</h2>
				<ul>
					<li>Home</li>
					<li>About</li>
					<li>Contact</li>
					<li>Services</li>
				</ul>

			</div>
			<div class="footer__card">
				<h2>Follow</h2>
				<ul>
					<li><a href="">Linkedin</a></li>
					<li><a href="">Instagram</a></li>
					<li><a href="">YouTube</a></li>
					<li><a href="">Github</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<!-- ---------- Font-awesome ---------- -->
<script src="https://kit.fontawesome.com/62f9e37583.js" crossorigin="anonymous"></script>
</body>

</html>