@media screen and (max-width: 768px) {
    body {
        text-align: center;
    }

    .underline {
        margin: 0 auto;
    }

    /* ---------- main ---------- */
    .header__container {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    nav {
        display: none;
    }

    .about .splitter {
        flex-direction: column;
    }

    .intro {
        height: calc(100vh - 70px);
    }

    .about__image {
        width: fit-content;
        text-align: center;
    }

    .process .splitter {
        flex-direction: column;
    }

    .process__card {
        width: fit-content;
    }

    .why .splitter {
        flex-direction: column;
    }

    .athlete__card {
        width: fit-content;
    }

    .ready .splitter {
        flex-direction: column;
    }

    .footer .splitter {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__about {
        width: fit-content;
    }

    .footer__card {
        width: fit-content;
    }

    /* ---------- service ---------- */
    .services__plan .splitter {
        flex-direction: column;
    }

    .services_plan__card {
        width: fit-content;
    }

    .services__freebie .splitter {
        flex-direction: column;
    }
    .services_freebie__card {
        width: fit-content;
    }

    /* ---------- contact map ---------- */
    .splitter-s {
        flex-direction: column;
    }

    .map-frame {
        padding-top: 10px;
    }

    /* ---------- footer ---------- */
    .footer .splitter {
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}
