<%- include('./layouts/header.ejs'); -%>
    <section class="not-found">
        <div class="container">
            <div class="splitter">
                <div class="not-found__image">
                    <i class="fas fa-exclamation-triangle"></i>
                </div>
                <div class="not-found__info">
                    <h2>Not found</h2>
                    <div class="underline"></div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, dolorem
                        rerum
                        voluptatem velit a, labore repellat temporibus quos quia aliquam obcaecati
                        reprehenderit nostrum aperiam blanditiis eligendi quisquam, atque excepturi
                        odit.</p>
                </div>

            </div>
        </div>
    </section>
    <%- include('./layouts/footer.ejs'); -%>