<%- include('./layouts/header.ejs'); -%>

	<!-- ---------- conatact ---------- -->
	<section class="contact">
		<div class="container">
			<div class="contact-body">

				<div class="contact-title">
					<h2>Contact us</h2>
					<div class="underline"></div>
				</div>
				<div class="contact-paragraph">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora at adipisci
						laudantium sed blanditiis libero eaque, doloribus maxime impedit corporis a
						in. Quos cum illo laboriosam eligendi minus! Delectus, perspiciatis!</p>
				</div>
				<div class="contact-form">
					<form action="/" method="post">
						<label for="Name">Name</label>
						<input type="text" name="name">
						<br>
						<label for="Name">email</label>
						<input type="text" name="name">
						<br>
						<label for="Name">Subject</label>
						<input type="text" name="name">
						<br>
						<label for="Name">Message</label>
						<br>
						<textarea name="" id="" cols="30" rows="10"></textarea>
						<br>
						<button type="submit">Send</button>
					</form>
				</div>
			</div>
		</div>
	</section>

	<%- include('./layouts/footer.ejs'); -%>