<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    <div class="container">
        <div class="logo">
            <img src="images/logo.png">
        </div>
        <!-- <div class="content">
            <h3>COMPREHENSIVE COACHING SERVICE FOR BOTH IN PERSON AND REMOTE STRENGTH TRAINING</h3>
        </div> -->
    </div>
</body>

</html>