<%- include('./layouts/header.ejs'); -%>

	<!-- ---------- Intro ---------- -->
	<div class="intro__video">
		<video autoplay muted loop id="video">
			<source src="images/video.mp4" type="video/mp4">
		</video>
	</div>

	<!-- ---------- Intro ---------- -->
	<section class="intro">
		<div class="container">
			<div class="intro__info">
				<h2>Let's get stronger</h2>
				<p>We prepare athletes from all level of ages on every aspect of strength
					sport. We are a small team of highly motivated individuals who are
					researching and developing newer methodology/improving our existing
					competition stradigies to improve the success of our
					athletes. </p>
				<button><a href="/services">Learn more</a></button>
			</div>
		</div>
	</section>

	<!-- ---------- About ---------- -->
	<section class="about">
		<div class="container">
			<div class="splitter">
				<div class="about__image">
					<img src="images/photo.png" alt="">
				</div>
				<div class="about__info">
					<h2>About us</h2>
					<div class="underline"></div>
					<p>JawStrength is coaching service company provided by Kyaw. He came from a
						background of working in the restaurant as a Master Sushi Chef where he used
						his creativly and problem solving skills to attract customers to improve
						dinning experience and sales.</p>
					<br>
					<p>While he was learning to coaching
						motivated
						clients, he taught himself how to code to solve business problem into
						software solution. He is currently studying Software Engineering at WGU.
					</p>
					<button><a href="/about">Read more</a></button>
				</div>
			</div>
		</div>
	</section>

	<!-- ---------- Process ---------- -->
	<section class="process">
		<div class="container">
			<div class="process-title">
				<h2>Our process</h2>
				<div class="underline"></div>
			</div>
			<div class="splitter">
				<div class="process__card">
					<i class="fas fa-handshake"></i>
					<h3>Initial consultation</h3>
					<p>Before we even charge you with any service fee, we have will a thorough
						video comference with you regarding your goal towards training.</p>
				</div>
				<div class="process__card">
					<i class="fas fa-pencil-ruler"></i>
					<h3>We design your training</h3>
					<p>After the initial consultation, we will design your training block based on
						your goal, schedule, equipment accessibility, existing injuries and etc.</p>
				</div>
				<div class="process__card">
					<i class="fas fa-file-excel"></i>
					<h3>You receive a block</h3>
					<p>
						We will send you a training block after we have carefully designing towards
						your goal. This will probably take a week.
					</p>
				</div>
				<div class="process__card">
					<i class="fas fa-dumbbell"></i>‏‎ ‎‏‎ ‎‏‎ ‎‏‎ ‎‏‎ ‎‏‎ ‎‏‎ ‎
					<i class="fas fa-video"></i>
					<h3>Follow the plan, record</h3>
					<p>You will follow the plan has it written and record videos every session. This
						will help us help you reach your goal faster.</p>
				</div>
				<div class="process__card">
					<i class="fas fa-check-square"></i>
					<h3>Check-in</h3>
					<p>You will check-in with us based on the schedule we both agree, whether it is
						weekly or monthly. We will adjuct your training based on how succefully your
						training went.</p>
				</div>
				<div class="process__card">
					<i class="fas fa-redo"></i>
					<h3>Repeat</h3>
					<p>These are the processes on how we operate training process. Following this
						systems
						allow us to help tons of athlethe.</p>
				</div>
			</div>
		</div>
	</section>


	<!-- ---------- Why ---------- -->
	<div class="bg-off">
		<section class="why">
			<div class="container">
				<div class="why-title">
					<h2>Why choose us?</h2>
					<div class="underline"></div>
				</div>
				<div class="splitter">
					<div class="why__info">
						<p>Our primary goal focus is to develope young individuals into high level
							competitve
							powerlifters. We are very pationate with our processes and always
							learning/improving our methodology to imporve the success for our
							athletes. Since we are a small group of team primary working locally, we
							are very selective about how many athletes we work with at a time,
							thus bring us providing quality coahing services then our local
							competitors.</p>
					</div>
				</div>
				<div class="splitter">
					<div class="athlete__card">
						<img src="/images/will.png" alt="">
						<h3>Will</h3>
						<i>
							<p>Credit Consultant</p>
						</i>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae
							natus
							nisi dolor, veniam cupiditate dolores soluta sequi voluptatibus sint ad
							quos ut, in mollitia vero aut! Omnis illum enim eligendi!</p>
					</div>
					<div class="athlete__card">
						<img src="/images/ted.jpg" alt="">
						<h3>Ted</h3>
						<i>
							<p>CIS Student</p>
						</i>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae natus
							nisi dolor, veniam cupiditate dolores soluta sequi voluptatibus sint ad
							quos ut, in mollitia vero aut! Omnis illum enim eligendi!</p>
					</div>
					<div class="athlete__card">
						<img src="/images/moein.png" alt="">
						<h3>Moein</h3>
						<i>
							<p>Aircract Paint Specialist</p>
						</i>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae natus
							nisi dolor, veniam cupiditate dolores soluta sequi voluptatibus sint ad
							quos ut, in mollitia vero aut! Omnis illum enim eligendi!</p>
					</div>
				</div>
			</div>
		</section>
	</div>

	<!-- ---------- Ready ---------- -->
	<section class="ready">
		<div class="container">
			<div class="splitter">
				<div class="ready__info">
					<h2>Are you ready?</h2>
					<div class="underline"></div>
					<p>We also provide many free services for you to archive your goals. Those are
						the programs that we have designed to help many athletes with the skills we
						possess. </p>
					<br>
					<p>You are more than welcome to try those free services before even attempingt
						to work with us. We are here to help you whenever you need help.</p>
					<br>
					<p>If you are convinced with our ability take you further into your competitive
						career, let's not wait any time work together!</p>
					<button><a href="/services">Let's work!</a></button>
				</div>
				<div class="ready__image">
					<img src="images/photo.png" alt="">
				</div>
			</div>
		</div>
	</section>

	<%- include('./layouts/footer.ejs'); -%>