<%- include('./layouts/header.ejs'); -%>

	<!-- ---------- Intro ---------- -->
	<section class="intro">
		<div class="container">
			<div class="splitter">
				<div class="intro__video">
					<video autoplay muted loop id="video">
						<source src="images/video.mp4" type="video/mp4">
					</video>
				</div>
				<div class="intro__info">
					<h2>Let's get stronger</h2>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores porro
						dolorem culpa doloremque, obcaecati officia quo pariatur. Eum ut ab
						nostrum quibusdam reiciendis omnis, aut vero eius tempora natus debitis.
					</p>
					<br>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores porro
						dolorem culpa doloremque, obcaecati officia quo pariatur. Eum ut ab
						nostrum quibusdam reiciendis omnis, aut vero eius tempora natus debitis.
					</p>
					<button>Learn more</button>
				</div>
			</div>
		</div>
	</section>

	<!-- ---------- About ---------- -->
	<section class="about">
		<div class="container">
			<div class="splitter">
				<div class="about__image">
					<img src="images/photo.png" alt="">
				</div>
				<div class="about__info">
					<h2>About us</h2>
					<div class="underline"></div>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores porro
						dolorem culpa doloremque, obcaecati officia quo pariatur. Eum ut ab
						nostrum quibusdam reiciendis omnis, aut vero eius tempora natus debitis.
					</p>
					<br>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores porro
						dolorem culpa doloremque, obcaecati officia quo pariatur. Eum ut ab
						nostrum quibusdam reiciendis omnis, aut vero eius tempora natus debitis.
					</p>
				</div>
			</div>
		</div>
	</section>

	<!-- ---------- Process ---------- -->
	<section class="process">
		<div class="container">
			<div class="process-title">
				<h2>Our process</h2>
				<div class="underline"></div>
			</div>
			<div class="splitter">
				<div class="process__card">
					<i class="fas fa-handshake"></i>
					<h3>Initial consultation</h3>
					<p>Bebefore we even charge you with any service fee, we have will a through
						video comference with you regarding your goal towards training.</p>
				</div>
				<div class="process__card">
					<i class="fas fa-pencil-ruler"></i>
					<h3>We design your training</h3>
					<p>After the initial consultation, we will design your training block based on
						your goal, schedule, equipment accessibility, injury and etc.</p>
				</div>
				<div class="process__card">
					<i class="fas fa-file-excel"></i>
					<h3>You receive a block</h3>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores porro
						dolorem culpa doloremque, obcaecati officia quo pariatur. Eum ut ab
						nostrum quibusdam reiciendis omnis, aut vero eius tempora natus debitis.
					</p>
				</div>
				<div class="process__card">
					<i class="fas fa-dumbbell"></i>‏‎ ‎‏‎ ‎‏‎ ‎‏‎ ‎‏‎ ‎‏‎ ‎‏‎ ‎
					<i class="fas fa-video"></i>
					<h3>Follow the plan, record</h3>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores porro
						dolorem culpa doloremque, obcaecati officia quo pariatur. Eum ut ab
						nostrum quibusdam reiciendis omnis, aut vero eius tempora natus debitis.
					</p>
				</div>
				<div class="process__card">
					<i class="fas fa-check-square"></i>
					<h3>Check-in</h3>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores porro
						dolorem culpa doloremque, obcaecati officia quo pariatur. Eum ut ab
						nostrum quibusdam reiciendis omnis, aut vero eius tempora natus debitis.
					</p>
				</div>
				<div class="process__card">
					<i class="fas fa-redo"></i>
					<h3>Repeat</h3>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores porro
						dolorem culpa doloremque, obcaecati officia quo pariatur. Eum ut ab
						nostrum quibusdam reiciendis omnis, aut vero eius tempora natus debitis.
					</p>
				</div>
			</div>
		</div>
	</section>


	<!-- ---------- Why ---------- -->
	<div class="bg-off">
		<section class="why">
			<div class="container">
				<div class="why-title">
					<h2>Why choose us?</h2>
					<div class="underline"></div>
				</div>
				<div class="splitter">
					<div class="why__info">
						<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores porro
							dolorem culpa doloremque, obcaecati officia quo pariatur. Eum ut ab
							nostrum quibusdam reiciendis omnis, aut vero eius tempora natus debitis.
						</p>
						<br>
						<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores porro
							dolorem culpa doloremque, obcaecati officia quo pariatur. Eum ut ab
							nostrum quibusdam reiciendis omnis, aut vero eius tempora natus debitis.
						</p>
					</div>
				</div>
				<div class="splitter">
					<div class="athlete__card">
						<img src="/images/photo.png" alt="">
						<h3>Jaw</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae natus
							nisi dolor, veniam cupiditate dolores soluta sequi voluptatibus sint ad
							quos ut, in mollitia vero aut! Omnis illum enim eligendi!</p>
					</div>
					<div class="athlete__card">
						<img src="/images/photo.png" alt="">
						<h3>Soapwa</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae natus
							nisi dolor, veniam cupiditate dolores soluta sequi voluptatibus sint ad
							quos ut, in mollitia vero aut! Omnis illum enim eligendi!</p>
					</div>
					<div class="athlete__card">
						<img src="/images/photo.png" alt="">
						<h3>Yanlon</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae natus
							nisi dolor, veniam cupiditate dolores soluta sequi voluptatibus sint ad
							quos ut, in mollitia vero aut! Omnis illum enim eligendi!</p>
					</div>
				</div>
			</div>
		</section>
	</div>

	<!-- ---------- Ready ---------- -->
	<section class="ready">
		<div class="container">
			<div class="splitter">
				<div class="ready__info">
					<h2>Are you ready?</h2>
					<div class="underline"></div>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores porro
						dolorem culpa doloremque, obcaecati officia quo pariatur. Eum ut ab
						nostrum quibusdam reiciendis omnis, aut vero eius tempora natus debitis.
					</p>
					<br>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores porro
						dolorem culpa doloremque, obcaecati officia quo pariatur. Eum ut ab
						nostrum quibusdam reiciendis omnis, aut vero eius tempora natus debitis.
					</p>
					<button><a href="/services">Let's work!</a></button>
				</div>
				<div class="ready__image">
					<img src="images/photo.png" alt="">
				</div>
			</div>
		</div>
	</section>

	<%- include('./layouts/footer.ejs'); -%>