<%- include('./layouts/header.ejs'); -%>

	<!-- ---------- Intro ---------- -->
	<section class="services__intro">
		<div class="container">
			<div class="splitter">
				<div class="services__intro__info">
					<h2>Ready to join the team?</h2>
					<p>Interested in working with us? We offer many free and paid services
						that can help you reach towards your gaols. We are here to help you in any
						shape or
						form!</p>
				</div>
			</div>
		</div>
	</section>

	<!-- ---------- Plan ---------- -->
	<sectoin class="services__plan">
		<div class="container">
			<div class="services__plan-title">
				<h2>Plans offer</h2>
				<div class="underline"></div>
			</div>
			<div class="splitter">
				<div class="services_plan__card">
					<img src="images/photo.png" alt="">
					<h3>Weekly</h3>
					<div class="underline"></div>
					<p>25$</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium eos quis
						reprehenderit molestiae, quos modi necessitatibus ratione dolorem. Sapiente
						nobis quisquam, laborum quasi expedita eius voluptate repellendus alias
						deserunt corrupti?</p>
					<button>Apply</button>
				</div>
				<div class="services_plan__card">
					<img src="images/photo.png" alt="">
					<h3>Monthly</h3>
					<div class="underline"></div>
					<p>100$</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium eos quis
						reprehenderit molestiae, quos modi necessitatibus ratione dolorem. Sapiente
						nobis quisquam, laborum quasi expedita eius voluptate repellendus alias
						deserunt corrupti?</p>
					<button>Apply</button>
				</div>
				<div class="services_plan__card">
					<img src="images/photo.png" alt="">
					<h3>Custom</h3>
					<div class="underline"></div>
					<p>300$/12w</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium eos quis
						reprehenderit molestiae, quos modi necessitatibus ratione dolorem. Sapiente
						nobis quisquam, laborum quasi expedita eius voluptate repellendus alias
						deserunt corrupti?</p>
					<button>Apply</button>
				</div>


			</div>
		</div>
	</sectoin>

	<!-- ---------- Freebie ---------- -->
	<section class="services__freebie">
		<div class="container">
			<div class="services__freebie-title">
				<h2>Free programs</h2>
				<div class="underline"></div>
			</div>
			<div class="splitter">

				<div class="services__freebie-intro">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
						provident,
						illo voluptatem fugiat facilis rem laudantium harum? Excepturi, cum
						architecto.
						Quam, perspiciatis voluptatem inventore porro vitae nulla eius. Rerum,
						ratione.
					</p>
				</div>
			</div>
			<div class="splitter">
				<div class="services_freebie__card">
					<img src="images/photo.png" alt="">
					<h3>12/w block</h3>
					<div class="underline"></div>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium eos quis
						reprehenderit molestiae, quos modi necessitatibus ratione dolorem. Sapiente
						nobis quisquam, laborum quasi expedita eius voluptate repellendus alias
						deserunt corrupti?</p>
					<button>Download</button>
				</div>
				<div class="services_freebie__card">
					<img src="images/photo.png" alt="">
					<h3>Bench spcialization</h3>
					<div class="underline"></div>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium eos quis
						reprehenderit molestiae, quos modi necessitatibus ratione dolorem. Sapiente
						nobis quisquam, laborum quasi expedita eius voluptate repellendus alias
						deserunt corrupti?</p>
					<button>Download</button>
				</div>
				<div class="services_freebie__card">
					<img src="images/photo.png" alt="">
					<h3>Intermediate</h3>
					<div class="underline"></div>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium eos quis
						reprehenderit molestiae, quos modi necessitatibus ratione dolorem. Sapiente
						nobis quisquam, laborum quasi expedita eius voluptate repellendus alias
						deserunt corrupti?</p>
					<button>Download</button>
				</div>
			</div>
		</div>
	</section>

	<!-- ---------- app ---------- -->
	<section class="services__app">
		<div class="container">
			<div class="services__app-image">
				<img src="images/attempt_calculator.png" alt="">
			</div>
			<div class="services__app-title">
				<h2>Attempt Selection Calculator</h2>
				<div class="underline"></div>
			</div>
			<div class="services__app-paragraph">
				<h4>Motivation</h4>
				<p>I built this website/app intending to share the strategies for selecting attempts
					for
					powerlifters. For those of you who could not afford for coaching and some of the
					athletes that I coach for powerlifting. The principles that I have used within
					this application is based on USAPl meet day coach Matt Gary. Matt Gary coaches
					famous lifters like Mike Tuchschere, Bryce Luis in the international level for
					thier meet day. You can read more about this backgound in the link below. </p>
				<a href="https://www.supremesportspt.com/coaches/matt-gary">Read more..</a>
				<h4>How to use the app</h4>
				<p>
					Enter the heaviest weight lifted within past 1-2 weeks. I would recommand the
					heaviest single you hit a week out before meet. If you hit and half rpe, for
					example. squat: x1@8.5, I would recommand you to put x1@9 instead. It is better
					to move up a half rpe for accuracy. If you do not know whether your singles, are
					you can enter the heaviest weight lifted with certain reps.

					The less reps close to singles, are the better for accurate prediction. After
					that, you can autoregulate attempts based on how you feel on meet day. I laied
					out low, normal, and high. It is pretty self explainatory.
				</p>
				<center>

					<button>iOS</button>
					<button>Android</button>
					<button>Web</button>
				</center>
			</div>
		</div>
	</section>

	<%- include('./layouts/footer.ejs'); -%>