<%- include('./layouts/header.ejs'); -%>

	<!-- ---------- Intro ---------- -->
	<section class="services__intro">
		<div class="container">
			<div class="splitter">
				<div class="services__intro__info">
					<h2>Ready to join the team?</h2>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores porro
						dolorem culpa doloremque, obcaecati officia quo pariatur. Eum ut ab
						nostrum quibusdam reiciendis omnis, aut vero eius tempora natus debitis.
					</p>
					<br>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores porro
						dolorem culpa doloremque, obcaecati officia quo pariatur. Eum ut ab
						nostrum quibusdam reiciendis omnis, aut vero eius tempora natus debitis.
					</p>
				</div>
			</div>
		</div>
	</section>

	<!-- ---------- Plan ---------- -->
	<sectoin class="services__plan">
		<div class="container">
			<div class="services__plan-title">
				<h2>Plans offer</h2>
				<div class="underline"></div>
			</div>
			<div class="splitter">
				<div class="services_plan__card">
					<img src="images/photo.png" alt="">
					<h3>Weekly</h3>
					<div class="underline"></div>
					<p>25$</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium eos quis
						reprehenderit molestiae, quos modi necessitatibus ratione dolorem. Sapiente
						nobis quisquam, laborum quasi expedita eius voluptate repellendus alias
						deserunt corrupti?</p>
					<button>Apply</button>
				</div>
				<div class="services_plan__card">
					<img src="images/photo.png" alt="">
					<h3>Monthly</h3>
					<div class="underline"></div>
					<p>100$</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium eos quis
						reprehenderit molestiae, quos modi necessitatibus ratione dolorem. Sapiente
						nobis quisquam, laborum quasi expedita eius voluptate repellendus alias
						deserunt corrupti?</p>
					<button>Apply</button>
				</div>
				<div class="services_plan__card">
					<img src="images/photo.png" alt="">
					<h3>Custom</h3>
					<div class="underline"></div>
					<p>300$/12w</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium eos quis
						reprehenderit molestiae, quos modi necessitatibus ratione dolorem. Sapiente
						nobis quisquam, laborum quasi expedita eius voluptate repellendus alias
						deserunt corrupti?</p>
					<button>Apply</button>
				</div>


			</div>
		</div>
	</sectoin>

	<!-- ---------- Freebie ---------- -->
	<section class="services__freebie">
		<div class="container">
			<div class="services__freebie-title">
				<h2>Free programs</h2>
				<div class="underline"></div>
			</div>
			<div class="splitter">

				<div class="services__freebie-intro">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
						provident,
						illo voluptatem fugiat facilis rem laudantium harum? Excepturi, cum
						architecto.
						Quam, perspiciatis voluptatem inventore porro vitae nulla eius. Rerum,
						ratione.
					</p>
				</div>
			</div>
			<div class="splitter">
				<div class="services_freebie__card">
					<img src="images/photo.png" alt="">
					<h3>12/w block</h3>
					<div class="underline"></div>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium eos quis
						reprehenderit molestiae, quos modi necessitatibus ratione dolorem. Sapiente
						nobis quisquam, laborum quasi expedita eius voluptate repellendus alias
						deserunt corrupti?</p>
					<button>Download</button>
				</div>
				<div class="services_freebie__card">
					<img src="images/photo.png" alt="">
					<h3>Bench spcialization</h3>
					<div class="underline"></div>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium eos quis
						reprehenderit molestiae, quos modi necessitatibus ratione dolorem. Sapiente
						nobis quisquam, laborum quasi expedita eius voluptate repellendus alias
						deserunt corrupti?</p>
					<button>Download</button>
				</div>
				<div class="services_freebie__card">
					<img src="images/photo.png" alt="">
					<h3>Intermediate</h3>
					<div class="underline"></div>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium eos quis
						reprehenderit molestiae, quos modi necessitatibus ratione dolorem. Sapiente
						nobis quisquam, laborum quasi expedita eius voluptate repellendus alias
						deserunt corrupti?</p>
					<button>Download</button>
				</div>
			</div>
		</div>
	</section>

	<!-- ---------- app ---------- -->
	<section class="services__app">
		<div class="container">
			<div class="services__app-image">
				<img src="images/attempt_calculator.png" alt="">
			</div>
			<div class="services__app-title">
				<h2>Attempt Selection Calculator</h2>
				<div class="underline"></div>
			</div>
			<div class="services__app-paragraph">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi similique earum
					reiciendis impedit autem magni pariatur accusamus doloremque labore architecto
					officia iusto magnam asperiores provident placeat quod quis, tenetur iure!</p>
				<center>

					<button>iOS</button>
					<button>Android</button>
					<button>Web</button>
				</center>
			</div>
		</div>
	</section>

	<%- include('./layouts/footer.ejs'); -%>