<%- include('./layouts/header.ejs'); -%>

	<!-- ---------- Intro ---------- -->
	<section class="services__intro">
		<div class="container">
			<div class="splitter">
				<div class="services__intro__info">
					<h2>Ready to join the team?</h2>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores porro
						dolorem culpa doloremque, obcaecati officia quo pariatur. Eum ut ab
						nostrum quibusdam reiciendis omnis, aut vero eius tempora natus debitis.
					</p>
					<br>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores porro
						dolorem culpa doloremque, obcaecati officia quo pariatur. Eum ut ab
						nostrum quibusdam reiciendis omnis, aut vero eius tempora natus debitis.
					</p>
				</div>
			</div>
		</div>
	</section>

	<!-- ---------- Plan ---------- -->
	<sectoin class="services__plan">
		<div class="container">
			<div class="services__plan-title">
				<h2>Plans offer</h2>
				<div class="underline"></div>
			</div>
			<div class="splitter">
				<div class="services_plan__card">
					<img src="images/photo.png" alt="">
					<h3>Weekly</h3>
					<div class="underline"></div>
					<p>25$</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium eos quis
						reprehenderit molestiae, quos modi necessitatibus ratione dolorem. Sapiente
						nobis quisquam, laborum quasi expedita eius voluptate repellendus alias
						deserunt corrupti?</p>
					<button>Apply</button>
				</div>
				<div class="services_plan__card">
					<img src="images/photo.png" alt="">
					<h3>Monthly</h3>
					<div class="underline"></div>
					<p>100$</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium eos quis
						reprehenderit molestiae, quos modi necessitatibus ratione dolorem. Sapiente
						nobis quisquam, laborum quasi expedita eius voluptate repellendus alias
						deserunt corrupti?</p>
					<button>Apply</button>
				</div>
				<div class="services_plan__card">
					<img src="images/photo.png" alt="">
					<h3>Custom</h3>
					<div class="underline"></div>
					<p>300$/12w</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium eos quis
						reprehenderit molestiae, quos modi necessitatibus ratione dolorem. Sapiente
						nobis quisquam, laborum quasi expedita eius voluptate repellendus alias
						deserunt corrupti?</p>
					<button>Apply</button>
				</div>
				<div class="services_plan__card">
					<img src="images/photo.png" alt="">
					<h3>In-person</h3>
					<div class="underline"></div>
					<p>50$/h</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium eos quis
						reprehenderit molestiae, quos modi necessitatibus ratione dolorem. Sapiente
						nobis quisquam, laborum quasi expedita eius voluptate repellendus alias
						deserunt corrupti?</p>
					<button>Apply</button>
				</div>
				<div class="services_plan__card">
					<img src="images/photo.png" alt="">
					<h3>Consultation</h3>
					<div class="underline"></div>
					<p>100$/h</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium eos quis
						reprehenderit molestiae, quos modi necessitatibus ratione dolorem. Sapiente
						nobis quisquam, laborum quasi expedita eius voluptate repellendus alias
						deserunt corrupti?</p>
					<button>Apply</button>
				</div>
				<div class="services_plan__card">
					<img src="images/photo.png" alt="">
					<h3>Other</h3>
					<div class="underline"></div>
					<p>$$$</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium eos quis
						reprehenderit molestiae, quos modi necessitatibus ratione dolorem. Sapiente
						nobis quisquam, laborum quasi expedita eius voluptate repellendus alias
						deserunt corrupti?</p>
					<button>Apply</button>
				</div>

			</div>
		</div>
	</sectoin>

	<!-- ---------- Freebie ---------- -->
	<section class="services__freebie">
		<div class="container">
			<div class="services__freebie-title">
				<h2>Free programs</h2>
				<div class="underline"></div>
			</div>
			<div class="splitter">
				<div class="services__freebie__">
					<h2>Ready to join the team?</h2>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores porro
						dolorem culpa doloremque, obcaecati officia quo pariatur. Eum ut ab
						nostrum quibusdam reiciendis omnis, aut vero eius tempora natus debitis.
					</p>
					<br>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores porro
						dolorem culpa doloremque, obcaecati officia quo pariatur. Eum ut ab
						nostrum quibusdam reiciendis omnis, aut vero eius tempora natus debitis.
					</p>
				</div>
			</div>
		</div>
	</section>

	<%- include('./layouts/footer.ejs'); -%>