<%- include('./layouts/header.ejs'); -%>

	<!-- ---------- Intro ---------- -->
	<section class="services__intro">
		<div class="container">
			<div class="splitter">
				<div class="services__intro__info">
					<h2>Ready to join the team?</h2>
					<p>Interested in working with us? We offer many free and paid services
						that can help you reach towards your gaols. We are always here to help you
						whever you are ready!
					</p>
				</div>
			</div>
		</div>
	</section>

	<!-- ---------- Plan ---------- -->
	<sectoin class="services__plan">
		<div class="container">
			<div class="services__plan-title">
				<h2>Plans offer</h2>
				<div class="underline"></div>
			</div>
			<div class="splitter">
				<div class="services_plan__card">
					<img src="images/in_person.jpg" alt="">
					<h3>In person</h3>
					<div class="underline"></div>
					<p>50$/h</p>
					<br>
					<p>This package is best suited for individuals who learn best by hands-on.</p>
					<br>
					<ul>
						<li>
							12 weeks contract minimun
						</li>
						<li>
							24/7 Unlimited communication via social media, text, or email
						</li>
						<li>
							Technique analysis and feedback on training
						</li>
						<li>
							Proper warmups/stretches for main lifts
						</li>
						<li>
							Meet Day Preparation - Warmups and Attempt Selections
						</li>
					</ul>
					<br>
					<p>Discounts are offer to clients who sign contact of multiple sessions.</p>
					<br>
					<button class="disable-button">Apply</button>
				</div>
				<div class="services_plan__card">
					<img src="images/online.jpg" alt="">
					<h3>Micro cycle</h3>
					<div class="underline"></div>
					<p>120$/cycle</p>
					<br>
					<p>This package is the most popular choice that we recomand to new clients.</p>
					<br>
					<ul>
						<li>
							each micro cycle consist of 3-6 weeks of training
						</li>
						<li>
							24/7 Unlimited communication via social media, text, or email
						</li>
						<li>
							Technique analysis and feedback on training through video
						</li>
						<li>
							Proper warmups/stretches for main lifts/performance nutrition
						</li>
						<li>
							meet day coacing services and attempt selections
						</li>
					</ul>
					<br>
					<p>Discounts are offer to clients who sign multiple cycles contact.</p>
					<br>
					<form action="/application" method="POST">
						<input type="hidden" name="micro_cycle" value="micro_cycle">
						<button type="submit">Apply</button>
					</form>
				</div>

				<div class="services_plan__card">
					<img src="images/custom.jpg" alt="">
					<h3>Custom</h3>
					<div class="underline"></div>
					<p>$$$</p>
					<br>
					<p>We also provide other servies that can help you reach your goals.</p>
					</p>
					<br>
					<ul>
						<li>
							custom training cycle
						</li>
						<li>
							designing bodybuilding/powerbuilding training cycle
						</li>
						<li>
							performance nutrition consultation
						</li>
						<li>
							sport pyschology/competition anexity preparation
						</li>
						<li>
							Consultaion towards training around existing injuries
						</li>
					</ul>
					<br>
					<p>Or any other consultations that we can provide to reach your gaols.</p>
					<br>
					<button class="disable-button">Apply</button>
				</div>
			</div>
		</div>
	</sectoin>

	<!-- ---------- Freebie ---------- -->
	<section class="services__freebie">
		<div class="container">
			<div class="services__freebie-title">
				<h2>Free programs</h2>
				<div class="underline"></div>
			</div>
			<div class="splitter">

				<div class="services__freebie-intro">
					<p>We offer generalized free programs that were designed to be best suited for
						general population. However, if you'd like to work with us 1:1 with fully
						customiziabliy
						tailered towards your needs, feel free the check out the services we offered
						above! </p>
				</div>
			</div>
			<div class="splitter">
				<div class="services_freebie__card">
					<img src="images/bench_specialization.jpg" alt="">
					<h3>Bench spcialization</h3>
					<div class="underline"></div>
					<br>
					<p>High frequency bench specialization cycle that will refine your technique and
						add
						pounds.</p>
					</p>
					<br>
					<ul>
						<li>
							2-4 days weekly of bench frequency
						</li>
						<li>
							refine your bench execution/technique
						</li>
						<li>
							upperbody hypertrophy built in
						</li>
						<li>
							mid-high benching volume
						</li>
						<li>
							repeatable after every cycle
						</li>
					</ul>
					<br>
					<p><i>by cicking download, you'are agreeing to our terms and services</i></p>
					<br>
					<button class="disable-button">Download</button>
				</div>
				<div class="services_freebie__card">
					<img src="images/competition_cycle.jpg" alt="">
					<h3>Competition cycle</h3>
					<div class="underline"></div>
					<br>
					<p>17 weeks training cycle that lead to 1st places for most of our athletes
						multiple years consecutively.</p>
					</p>
					<br>
					<ul>
						<li>
							4-5 days weekly training split
						</li>
						<li>
							best suited to run after off season
						</li>
						<li>
							designed to refine your technique across al lift
						</li>
						<li>
							built in percentages with autoregulation
						</li>
						<li>
							auto progression model based your response to training dosage
						</li>
					</ul>
					<br>
					<p><i>by cicking download, you'are agreeing to our terms and services</i></p>
					<br>
					<button class="disable-button">Download</button>
				</div>
				<div class="services_freebie__card">
					<img src="images/deadlift_specialization.jpg" alt="">
					<h3>Deadlift spcialization </h3>
					<div class="underline"></div>
					<br>
					<p>Do you wanna take your deadlift from 5 plates to 6 plates, then this is the
						cycle you should be doing!</p>
					</p>
					<br>
					<ul>
						<li>
							1-3 days weekly of deadlift frequency
						</li>
						<li>
							refine your deadlift execution/technique
						</li>
						<li>
							lowerbody hypertrophy built in
						</li>
						<li>
							low-high deadlifting volume
						</li>
						<li>
							works both of sumo and conventional
						</li>
					</ul>
					<br>
					<p><i>by cicking download, you'are agreeing to our terms and services</i></p>
					<br>
					<button class="disable-button">Download</button>
				</div>
			</div>
		</div>
	</section>



	<!-- ---------- training-vlog ---------- -->
	<section class="service__training-vlog">
		<div class="container">
			<div class="service__training-vlog-image">
				<img src="images/training_vlog.png" alt="">
			</div>
			<div class="service__training-vlog-title">
				<h2>Training Video Log</h2>
				<div class="underline"></div>
			</div>
			<div class="service__training-vlog-paragraph">
				<p>A full-stack web application to log training videos with the respect to weekly
					session. Built by an athlete, for the athletes! </p>
				<h3>Motivation</h3>
				<p>
					Instagram is the best medium for powerlifters among other social media. Back in
					the day, YouTube used to be it. Ever since powerlifting has gotten popular,
					majority of the content usually reside on Instagram.</p>
				<br>
				<p>
					Instagram used to be really good before facebook bought it. Now it has gotta a
					lot worse with unrelated contents. It has also gotten a lot worse on the aspect
					of privacy. So I decided to ditch Instagram and build my own platform to log my
					training.
				</p>
				<a href="https://tvl.jawstrength.com/" target="_blank">
					<button>training-vlog</button>
				</a>
			</div>
		</div>
	</section>





	<!-- ---------- app ---------- -->
	<section class="services__app">
		<div class="container">
			<div class="services__app-image">
				<img src="images/attempt_calculator.png" alt="">
			</div>
			<div class="services__app-title">
				<h2>Attempt Selection Calculator</h2>
				<div class="underline"></div>
			</div>
			<div class="services__app-paragraph">
				<h3>Motivation</h3>
				<p>I built this website/app intending to share the strategies for selecting attempts
					for
					powerlifters. For those of you who could not afford for coaching and some of the
					athletes that I coach for powerlifting. The principles that I have used within
					this application is based on USAPl meet day coach Matt Gary. Matt Gary coaches
					famous lifters like Mike Tuchschere, Bryce Luis in the international level for
					thier meet day. You can read more about this backgound in the link below. </p>
				<a href="https://www.supremesportspt.com/coaches/matt-gary">Read more..</a>
				<h3>How to use the app?</h3>
				<p>
					Enter the heaviest weight lifted within past 1-2 weeks. I would recommand the
					heaviest single you hit a week out before meet. If you hit and half rpe, for
					example. squat: x1@8.5, I would recommand you to put x1@9 instead. It is better
					to move up a half rpe for accuracy. If you do not know whether your singles, are
					you can enter the heaviest weight lifted with certain reps.

					The less reps close to singles, are the better for accurate prediction. After
					that, you can autoregulate attempts based on how you feel on meet day. I laied
					out low, normal, and high. It is pretty self explainatory.
				</p>
				<div class="services__app-title-download-links">
					<a href="https://apps.apple.com/us/app/powerlifting-attempt-calculatr/id1540891589"
					   target="_blank">
						<img src="images/apple.png" alt="">
					</a>
					<a href="https://play.google.com/store/apps/details?id=com.jawstrength.powerliftingattemptselectioncalculator"
					   target="_blank">
						<img src="images/googleplay.png" alt="">
					</a>
					<a href="https://www.attemptcalculator.com/" target="_blank">
						<img src="images/web.jpg" alt="">
					</a>
				</div>
			</div>
		</div>
	</section>

	<%- include('./layouts/footer.ejs'); -%>