<%- include('./layouts/header.ejs'); -%>
<section class="about__intro">
    <div class="container">
        <div>
            <h2>Thank you</h2>
            <p>Thank you for reaching out to us. We will get back to you as soon as we can!</p>
        </div>
    </div>
</section>
<%- include('./layouts/footer.ejs'); -%>
