<%- include('./layouts/header.ejs'); -%>
	<section class="about__intro">
		<div class="container">
			<div>
				<h2>About</h2>
				<p><i>This page is under construction!</i></p>
			</div>
		</div>
	</section>
	<%- include('./layouts/footer.ejs'); -%>