/* ---------- map ---------- */
.map {
    background-color: #f2f2f7;
}

.map-content {
    margin-right: 30px;
}

iframe {
    height: 300px;
}

/* ---------- contact ---------- */
.contact {
    background-color: white;
}
.contact-body {
    border-radius: 5px;
}
