/* ---------- contact ---------- */
.contact {
    height: 100vh;
}

.contact-body {
    background-color: white;
    width: 90%;
    margin: 25px;
    padding: 33px;
    border-radius: 5px;
}

form {
    margin-top: 25px;
}
